<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	<security>
            <requestFiltering removeServerHeader="true" />
    </security>
	<httpProtocol>
      <customHeaders>
		<add name="Strict-Transport-Security" value="max-age=300" />
      </customHeaders>
    </httpProtocol>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\steelagebuildingsystem.com\error_docs\maintenance.html" />
    </httpErrors>
    <rewrite>
		<rewriteMaps>
			<rewriteMap name="CompressedExtensions" defaultValue="">
				<add key="css.gz" value="text/css; charset=utf-8" />
                <add key="html.gz" value="text/html; charset=utf-8" />
                <add key="ico.gz" value="image/x-icon" />
                <add key="js.gz" value="text/javascript; charset=utf-8" />
                <add key="map.gz" value="application/json; charset=utf-8" />
                <add key="svg.gz" value="image/svg+xml; charset=utf-8" />
                <add key="txt.gz" value="text/plain; charset=utf-8" />
                <add key="xml.gz" value="text/xml; charset=utf-8" />
                <add key="webmanifest.gz" value="application/manifest+json; charset=utf-8" />
                <add key="css.br" value="text/css; charset=utf-8" />
                <add key="html.br" value="text/html; charset=utf-8" />
                <add key="ico.br" value="image/x-icon" />
                <add key="js.br" value="text/javascript; charset=utf-8" />
                <add key="map.br" value="application/json; charset=utf-8" />
                <add key="svg.br" value="image/svg+xml; charset=utf-8" />
                <add key="txt.br" value="text/plain; charset=utf-8" />
                <add key="xml.br" value="text/xml; charset=utf-8" />
                <add key="webmanifest.br" value="application/manifest+json; charset=utf-8" />
            </rewriteMap>
        </rewriteMaps>
        <outboundRules>
			<!--Restore the mime type for compressed assets. See below for more explanation ("http-compression") -->
            <rule name="RestoreMime" enabled="true">
				<match serverVariable="RESPONSE_Content_Type" pattern=".*" />
                <conditions>
                    <add input="{HTTP_URL}" pattern="\.((?:css|html|ico|js|map|svg|txt|xml|webmanifest)\.(gz|br))" />
                    <add input="{CompressedExtensions:{C:1}}" pattern="(.+)" />
                </conditions>
                <action type="Rewrite" value="{C:3}" />
            </rule>
			<rule name="AddVaryAcceptEncoding" preCondition="PreCompressedFile" enabled="true">
                <match serverVariable="RESPONSE_Vary" pattern=".*" />
                <action type="Rewrite" value="Accept-Encoding" />
            </rule>
			<rule name="AddEncodingBrotli" preCondition="PreCompressedBrotli" enabled="true" stopProcessing="true">
				<match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
                <action type="Rewrite" value="br" />
            </rule>
			<rule name="AddEncodingZopfli" preCondition="PreCompressedZopfli" enabled="true" stopProcessing="true">
                <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
                <action type="Rewrite" value="gzip" />
            </rule>
			
			<preConditions>
                <preCondition name="PreCompressedFile">
                    <add input="{HTTP_URL}" pattern="\.((?:css|html|ico|js|map|svg|txt|xml|webmanifest)\.(gz|br))" />
                </preCondition>
                <preCondition name="PreCompressedZopfli">
					<add input="{HTTP_URL}" pattern="\.((?:css|html|ico|js|map|svg|txt|xml|webmanifest)\.gz)" />
                </preCondition>
				<preCondition name="PreCompressedBrotli">
					<add input="{HTTP_URL}" pattern="\.((?:css|html|ico|js|map|svg|txt|xml|webmanifest)\.br)" />
				</preCondition>
			</preConditions>
        </outboundRules>
      <rules>
        <rule name="HTTPSRedirect" stopProcessing="true">
				<match url="(.*)"/>
				<conditions>
					<add input="{HTTPS}" pattern="off" ignoreCase="true"/>
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true"/>
			</rule>
			<rule name="Canonical Host Name Rule">
				<match url="(.*)" />
				<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
					<add input="{HTTP_HOST}" pattern="^www\.steelagebuildingsystem\.com$" negate="true" />
				</conditions>
				<action type="Redirect" url="https://www.steelagebuildingsystem.com{PATH_INFO}" />
			</rule>
        <rule name="MyRule">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
	<tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
	<staticContent>
           <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="immutable" />

       </staticContent>
       <!--Configures output and kernel caching for ALL images (both CMS and IIS)-->
       <caching>
          <profiles>
            <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
            <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
            <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
            <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
            <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
            <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
          </profiles>
       </caching>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\steelagebuildingsystem.com\tmp" />
  </system.web>
</configuration>