/* fonts

font-family: 'Lato', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

 */

/* deftl css */
body {margin: 0px;padding: 0px;}
.pdngnone {padding-left: 0px !important;padding-right: 0px !important;}
/* deftl css */
.subnav {
    background-color: #486885;
    padding: 10px 0;
}
.paraservc2 strong{color:#069}
.paddL0{ padding-left:0!important}
.colnavsec61 {width: 50%;float: left;}
.colnavsec6a2 {width: 30%;float: left;}
.colnavsec62 {width: 20%;float: left;}
.navdtail-sec {
    padding: 0px;
    list-style: none;
}
.navdtail-sec li {
    float: left;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px
}
.navdtail-sec li i {
    color: #ffffff ;
    font-size: 14px;
    margin-right: 5px;
}
.mysocial {
    
}
.mysocial a i {
    color: #fff;
}
.mysocial a i:hover {
	color: #9ea638 ;
}
.mysocial .btn {
    padding: 0px 5px;
}
.logow {
	width: 290px;
}

.mynavbar {
	padding: 10px 0 0;
}
.mynavbar .navbar-brand {
    float: left;
    /*height: 50px;*/
    padding: 1px;
    font-size: 18px;
    line-height: 20px;
}
.mynavbar .navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -0px !important;
    margin-left: -0px !important;
}
.activea {color: #ffffff!important;
    background: #486885!important;}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.mybanner .fade-carousel {
    position: relative;
    height: 77vh;
}
.mybanner .fade-carousel .carousel-inner .item {
    height: 77vh;
}
.mybanner .fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.mybanner .fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.mybanner .hero {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 80%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.mybanner .hero h1 {
    font-size: 46px;    
	font-family: 'Lato', sans-serif;
    font-weight: bold;
	color: #ccc;
	line-height: 1.5em;
    margin: 0;
    padding: 0;
}
.mybanner .hero h3 {
    font-size: 16px;    
	font-family: 'Lato', sans-serif;
	color: #fff;
	line-height: 1.5em;
    margin: 0px 0 0 0;
    padding: 0;
	text-transform: capitalize;
}


.mybanner .fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.mybanner .fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.mybanner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.mybanner .btn.btn-lg {padding: 10px 40px;}
.mybanner .btn.btn-hero,
.mybanner .btn.btn-hero:hover,
.mybanner .btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.mybanner .fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 77vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.mybanner .fade-carousel .slides .slide-1 {
  background-image: url(../images/slider1.jpg); 
}
.mybanner .fade-carousel .slides .slide-2 {
  background-image: url(../images/slider2.jpg); 
}
.mybanner .fade-carousel .slides .slide-3 {
  background-image: url(../images/slider3.jpg); 
}
.mybanner .fade-carousel .slides .slide-4 {
  background-image: url(../images/slider4.jpg); 
}
.paddb100{ padding-bottom:50px!important;}
.footer{ background-color:#252525;}
.foot1{ position:absolute; left:0; right:0;}
.testimonials{ color:#fff; padding:5rem 15px;}
.testimonials h1, .enquiry-form h1{ font-size: 3.625rem;
    color: #fff;
    z-index: 2;
    text-align: left;
    font-weight: 700;
    padding-bottom: 2rem;
    margin-bottom: 2rem!important;
    position: relative;}
	.btn{ border-radius:0; font-size:1rem; text-transform:uppercase; padding:0.75rem 1rem; border:2px solid transparent;}
.btn-primary{ background-color:#9ea638 !important; color:#fff!important; border-color:#9ea638 !important; }
.btn-default{ background-color:transparent!important; border-color:#fff!important; color:#fff!important;}
.sercse1_uli {margin: 0 0 0 35px; list-style: none;}
.sercse1_uli li{margin: 4px 0 8px -10px;font-size: 15px;line-height: 26px;text-align: left;font-family: 'Lato', sans-serif;
    font-size: 16px!important;
    font-weight: 500; color:#444}
.sercse1_uli li i{position: absolute;left: 16px;margin-top: 9px;font-size: 9px;color: #0257a2}
.sercse_uli {margin: 0 0 0 35px; list-style: none;}
.sercse_uli li{margin: 4px 0 8px;font-size: 15px;line-height: 26px;text-align: left;font-family: 'Lato', sans-serif;
    font-size: 16px!important;
    font-weight: 500; color:#444}
.sercse_uli li i{position: absolute;left: 16px;margin-top: 9px;font-size: 9px;color: #0257a2}
.service img{ padding:10px; box-shadow:0 0 10px #e2e2e2}
.service h3{ text-align:center; font-size:16px; font-weight:600; padding-top:5px;}
	.form-control{display:block;width:100%;padding:.5rem .75rem;font-size:1rem;line-height:1.25;color:#495057;background-color:#fff;background-image:none;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.testimonials h1:before, .enquiry-form h1:before{ content:''; position:absolute; display:block; z-index:2; width:4rem; height:2px; background-color:#d69112; left:0; bottom:0;}
.quote{ position:absolute; left:0; top:-1rem; z-index:-1;}
.test-in article{ width:80%;}
.test-in article p{ line-height:35px; font-family:'Lato'; font-size:19px; font-style:italic}
.test-in article dd{  position:relative; margin-top:2rem;}
.test-in article dd img{ width:3rem; height:3rem; border-radius:50%; position:absolute; left:0; top:0;}
.test-in article dd h5{ color:#fff;}
.test-in article dd span{ color:#9ea638 ;}
#testimonials .owl-controls{ right:auto; left:0; bottom:-2rem;}
#testimonials .owl-controls .owl-page{ display:inline-block;}
#testimonials .owl-controls .owl-page span{ background-color:transparent; border:2px solid #fff;}
.enquiry-form{ background-image:url(../images/image-2.jpg); background-repeat:no-repeat; padding:5rem 45px 3rem 6rem!important;}
.enquiry-form:before{ content:''; display:block; position:absolute; width:100%; height:100%; left:0; top:0; background-color:rgba(0, 0, 0, 0.7)}
.enquiry-form form blockquote .form-control{ height:5rem!important; border-radius:0!important; padding:0.825rem 1.3rem!important;}
.enquiry-form form blockquote textarea.form-control{ height:auto !important}
.foot2{ padding:0.8125rem 15px;  color:rgba(255, 255, 255, 0.7); background-color:rgba(0, 0, 0, 0.5); font-size:0.8rem;}
.foot2 a{ color:rgba(255, 255, 255, 0.7);}
.sec5{ padding:3rem 15px;}
.sec5 h1{ width:100%; color:#040406!important; text-align:center; font-size:4rem!important; padding-bottom:1rem!important; position:relative; margin-bottom:2rem!important; font-weight:900!important; font-family:'Lato';}
.sec5 h1 span{ color:#486885!important}
.newp{     color: #505050;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato';}
.sec2 h1:before, .sec5 h1:before {
    content: '';
    display: block;
    position: absolute;
    width: 4rem;
    height: 2px;
    background-color: #9ea638 ;
    bottom: -2px;
    left: 45%;
}.sec2 h1:before, .sec5 h1:before {
    content: '';
    display: block;
    position: absolute;
    width: 4rem;
    height: 2px;
    background-color: #9ea638 ;
    bottom: -2px;
    left: 48%;
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
.mybanner .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
.mybanner .hero h1 { font-size: 4em; }    
}

.myfeature {padding: 5% 0;}
.myclm3 {width: 33.33%;float: left; padding: 10px;}
.text-area {width: 100%; float: left;padding: 10px 0;}
.h4servc {font-family: 'Lato', sans-serif;font-size: 17px;font-weight: 700;color: #486885;  margin: 5px 0 0px!important;}
.paraservc {font-family: 'Lato', sans-serif;font-size: 15px!important;font-weight: 500;color: #c1c1c1; text-align: left;margin: 5px 0 10px;line-height: 26px;}
.paraservc2 {font-family: 'Lato', sans-serif;font-size: 16px!important;font-weight: 500;color: #444; text-align: left;margin: 5px 0 10px;line-height: 28px;}
.paraservc3 {font-family: 'Lato', sans-serif;font-size: 16px!important;color: #c5c5c5; text-align: left;margin: 5px 0 10px;line-height: 28px!important;}
.paraservc1 {font-family: 'Lato', sans-serif;font-size: 16px!important;color: #3e3d3d; text-align: left;margin: 5px 0 10px;line-height: 24px;}
.redmrbtn {font-family: 'Lato', sans-serif;color: #486885;font-weight:600;font-size: 14px;}
.redmrbtn:hover {color: #000;text-decoration: none;}
.redmrbtn i {margin-left: 7px;-webkit-transition-duration: .20s;transition-duration: .20s;}
.redmrbtn:hover i {margin-left: 13px;-webkit-transition-duration: .20s;transition-duration: .20s;}
.bg2seccle { background-color: #f1f1f1;}

.item figure.snip0011 {position: relative;float: left;overflow: hidden;margin: 10px 1%;min-width: 220px;max-width: 310px;max-height: 220px;width: 100%;background: #000000;text-align: center;cursor: pointer;}
.item figure.snip0011 img {max-width: 100%;opacity: 1;-webkit-transition: opacity 0.35s;transition: opacity 0.35s;}
.item figure.snip0011 > div a {height: 100%;left: 0;position: absolute;top: 0;width: 100%;color: #ffffff;}
.item figure.snip0011 > div a i::before {font-size: 50px; opacity: 0;top: 55%;position: relative; -webkit-transform: translate3d(0, -50%, 0);transform: translate3d(0, -50%, 0);-webkit-transition: 0.3s ease-in-out;transition: 0.3s ease-in-out;-webkit-transition-delay: 0s;transition-delay: 0s;display: inline-block;
}
.item figure.snip0016 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  max-height: 200px;
  width: 100%;
  background: #000000;
  text-align: left;
}
.item figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.item figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.item figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 78px 3em;
  width: 100%;
  height: 100%;
}
.item figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.item figure.snip0016 h2,
figure.snip0016 p {
	 font-family: 'Lato', sans-serif;
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
.item figure.snip0016 h2 {
	font-size: 19px;
  word-spacing: -0.12em;
  font-weight: 300;
  text-transform: capitalize;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.item figure.snip0016 h2 span {
  font-weight: 600;
}
.item figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
.item figure.snip0016:hover img {
  opacity: 0.3;
}
.item figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.item figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.item figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.bg3seccle1 {padding: 2% 0!important; background-color: #395c7b;}
.bg3seccle {padding: 3% 0!important; background-color: #222;}
.h3servc {font-family: 'Lato', sans-serif;font-weight: 700;font-size: 20px;color: #fff; text-align: left;margin: 5px 0 10px;}

.subtitle-divider-2 {position: relative;height: 20px;margin-bottom: 15px;}
.subtitle-divider-2::before, .subtitle-divider-2::after { content: "";height: 1px;left: 0;position: absolute;top: 15px;width: 100px;right: 0;margin: 0 0px;background-color: #555;}
.subtitle-divider-2::after {background: #d6d6d6 none repeat scroll 0 0;top: 14px;width: 50px;height: 2px;}
.mysrvccl {float: left;width: 100%;}
.abthref {display: inline-block;text-decoration: none;transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
 -webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;float: left;width: 60px;height: 60px;background: #333;text-align: center;line-height: 60px;font-size: 16px;color: #ffffff;}
 .abthref:hover {color:#9ea638  ;}
.about-us-post {
    overflow: hidden;
    margin-top: 30px;
}
.pad{ padding-top:20px}
.mysrvccl .h4servc {font-size: 19px;color: #fff; text-align: left;margin: 0 0 5px;font-weight: bold;margin-top: 10px;}
.newp{margin-left: 70px!important}
.mysrvccl .paraservc {font-size: 12px;font-weight: 400;color: #eeeeee; text-align: left;margin: 5px 0 10px 70px;line-height: 22px;}

.mysrvccl2 .h4servc {font-size: 16px;color: #333; text-align: left;margin: 0 0 12px;color: #c1c1c1;margin-left: 0px;font-weight: 500;margin-bottom: 6px;margin-top: 30px;}
.mysrvccl2 .paraservc {font-family: 'Lato', sans-serif;font-size: 16px!important;font-weight: 500;color: #c5c5c5; text-align: left;margin: 0px 0 10px;line-height: 27px;}

.bg4seccle1 {background-color: #e2e2e2;}
.bg4seccle1 .myclm3 {width: 100%;float: left; padding: 10px;}
.bg4seccle {background-color: #fff;}
.bg4seccle .myclm3 {width: 100%;float: left; padding: 10px;}

.bg5seccle {background: url(../images/image-3.jpg) center;padding: 6% 0; background-size: 100%;}
.bg5seccle .h3servc {text-align: center;}
.bg5seccle .h4servc {font-size: 15px;color: #fff; text-align: left;margin: 0 0 12px;color: #999;margin-left: 0px;font-weight: 700;margin-bottom: 6px;margin-top: 20px; text-align: center;}
.bg5seccle p {font-family: 'Open Sans', sans-serif;font-size: 13px;font-weight: 500;color: #F1F1F1;font-style:italic; text-align: center;margin: 0px 0 10px;line-height: 24px;letter-spacing: .5px;}

.bg6seccle {padding:4% 0;background: #fff;}
.brandwdth {width:18%;float: left;margin: 10px; padding: 10px;background-color: #fff; box-shadow: 0 0 7px #ccc;-webkit-box-shadow: 0 0 7px #ccc;-o-box-shadow: 0 0 7px #ccc;-moz-box-shadow: 0 0 7px #ccc;-ms-box-shadow: 0 0 7px #ccc;}

.footertxt {float: left; width: 100%;}
.paraftr {font-family: 'Lato', sans-serif!important;font-size: 15px;font-weight: 500;color: #e9f5ff; text-align: left;margin: 0px 0 10px;line-height: 26px!important;}
.ftrtags{list-style: none; padding: 0px;}
.ftrtags li a {float:left;font-family: 'Lato', sans-serif;font-size: 13px;font-weight: 500;color: #fafafa;background: #24435f;padding: 6px 12px;margin-right: 5px;margin-bottom: 5px;}
.ftrtags li a:hover {text-decoration: none; background-color: #9ea638 ;}

.ftrnav{list-style: none; padding: 0px;}
.ftrnav li a {display: block;font-family: 'Lato', sans-serif;font-size: 13px;font-weight: 500;color: #C5C5C5;border-radius: 3px;margin-right: 0px;margin-bottom: 10px;}
.ftrnav li {display: block;font-family: 'Lato', sans-serif;font-size: 15px;font-weight: 500;color: #e9f5ff;border-radius: 3px;margin-right: 0px;margin-bottom: 10px;}
.ftrnav li span { color: #97adc1 ;font-weight: 700;font-family: 'Lato', sans-serif;}
.ftrnav li a:hover {text-decoration: none;color: #fff;}


.bg6sseccle {background-color: #2b4d6b;padding: 15px 0;}
.bg6sseccle .paraftr {color: #f1f1f1;text-align: center; margin: 0px;}

.sub_divider {background: #486885 none repeat scroll 0 0;height: 3px;width: 60px;outline: none; margin-bottom:20px;}
/*--BACK TO TOP--*/
.back-to-top{display: inline-block;margin-bottom: 18px;text-decoration: underline;width: 35px;height: 35px;border-radius: 50%;background: #000;position: fixed;bottom: -150px;right: 18px;transition: bottom 1s;cursor: pointer;font-size: 14px}
.back-to-top:before{content: " ";display: block;width: 49%;padding: 21% 0;border: solid #FFF;border-width: 0 2px 2px 0;transform: rotate(220deg);margin-left: 26%;margin-top: 35%;position: absolute;z-index: 20}
.mybanner2{padding: 50px 0;background-image:url(../images/slider1n.jpg);overflow: hidden}
.mybanner2_h2{font-family: 'Lato', sans-serif!important;font-weight: bold;margin: 0 0 30px;text-transform: uppercase;float: left;color: #ffffff;font-size: 26px; margin-bottom: 0px}
.pad100{ padding:100px 0;}
.about_sec {float: left; width: 100%;padding: 70px 0; background: #fff;}
.about_sech2 {font-family: 'Lato', sans-serif;font-size: 25px;font-weight: 700;color: #333; text-align: left;margin: 5px 0 15px;}
.about_secpara {font-family: 'Lato', sans-serif;font-size: 14px;font-weight: 500;color: #888888; text-align: left;margin: 5px 0 10px;line-height: 22px;}
.about_bg3{padding: 3% 0;background-color: #222;display: block;float: left;width: 100%}
.about_bg4{padding: 3% 0;background-color: #fff;display: block;float: left;width: 100%}
.about_bg4 .myclm3{width: 33.333333%;float: left;padding: 10px}
.about_bg5{display: block;float: left;width: 100%}
.paddt30{ padding-top:40px;}
.product_sec {display: block;padding: 3% 0;background-color: #fff;float: left;width: 100%}
.product_sec .side-nav {padding: 0 0 0.875rem;}
.product_sec .myclm3 {width: 32%;margin: 5px;float: left; padding: 10px;}
.side-nav li.active>a:first-child:not(.button){ color:#9EA638!important}
.prdt_h3se {font-family: 'Lato', sans-serif;font-size: 28px;font-weight: 700;color: #333; text-align: left;margin: 5px 0 3px;}
.prdt_bg {background: #f5f5f5;}
.prdt_img_sec {float: left;width: 100%;}
.prdt_para_sec {width: 100%;float: left;padding: 10px 0;}
.prdt_h4se {font-family: 'Lato', sans-serif;font-size: 17px;font-weight: 700;color: #333; text-align: left;margin: 0px 0;}
.prdt_parse {font-family: 'Lato', sans-serif;font-size: 13px;font-weight: 500;color: #888888;text-align: left;margin: 8px 0 0px;line-height: 22px;}

.contact_sec {float: left; width: 100%;padding: 40px 0; background: #fff;}
.forms_nav {padding: 0px;margin: 0px;list-style: none;}
.forms_nav li {list-style: none;overflow: hidden;border-bottom: 1px solid #dddddd;margin-bottom: 15px;padding-bottom: 13px;padding-top: 5px;font-family: 'Lato', sans-serif;}
.forms_nav li span {display: block;font-size: 16px;color: #777777;font-family: 'Lato', sans-serif;font-weight: 400;line-height: 26px;margin: 0 0 10px;margin-bottom: 0px;margin-left: 25px;color: #333333;}
.forms_nav li i {float: left;color: #333333;font-size: 13px;display: inline-block;line-height: 24px;margin-left: 2px;}
/* fonts */
 #contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#fff;
    border:1px solid rgba(0, 0, 0, .2);
    margin-bottom:20px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #000;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #000;
  }

  .textarea{
    height: 189px;
    max-height: 189px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#000;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:150px;
    display: block;
    height: auto;
    padding:12px;
    color:#fff;
    background:#486885;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;font-family: 'Lato', sans-serif;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
/* fonts

font-family: 'Lato', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

 */
